{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Contest-{{ contest.contest_name }}{% endblock %}
{% block body_attribs %}onload="set_globle({{ sec_now|int }}, {{ sec_init|int }}, {{ sec_end|int }})"{% endblock body_attribs %}
{% block page_content %}
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contest
                    <small>{{ contest.contest_name }}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index.index_page') }}">Home</a>
                    </li>
                    <li class="active">Contest</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" id="contest_bar" style="min-width: 4em; width: 0%"></div>
                </div>
            	<div class="col-lg-2">
                    <div class="list-group">
                        <a href="{{ url_for('contest.contest_detail', contest_id=contest.id) }}" class="list-group-item">Overview</a>
                         <a href="{{ url_for('contest.contest_problem_list', contest_id=contest_id) }}" class="list-group-item">Problem List</a>
                        <a href="{{ url_for('contest.contest_status_list', contest_id=contest_id) }}" class="list-group-item">Submission List</a>
                        <a href="{{ url_for('contest.contest_ranklist', contest_id=contest_id) }}" class="list-group-item">Ranklist</a>
                        {% if contest.manager_username == current_user.username or current_user.is_admin()  %}
                        <a href="{{ url_for('contest.contest_user_check', contest_id=contest_id) }}" class="list-group-item">Confirm</a>
                        <a href="{{ url_for('contest.contest_ranklist_admin', contest_id=contest_id) }}" class="list-group-item">Ranklist(Admin)</a>
                        {% if not contest.type %}
                        <a href="{{ url_for('contest.contest_show_balloon', contest_id=contest_id) }}" class="list-group-item">Send Balloon</a>
                        {% endif %}
                        {% endif %}
                    </div>
            	</div>
                <div class="col-lg-10">
                    <h3>Regist Confirm</h3>
                    {% if pagination %}
                        {{ macros.pagination_widget(pagination, 'contest.contest_list') }}
                    {% endif %}
                    <table class="table table-bordered" cellspacing="0" width="100%" style="font-size:10px;">
                        <thead>
                            <tr>
                              <th>Username</th>
                              <th>Realname</th>
                              <th>School</th>
                              <th>Number</th>
                              <th>Phone</th>
                              <th>Request Time</th>
                              <th>Status</th>
                              <th>confirm</th>
                              <th>unconfirm</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for user in users %}
                            <tr>
                              <td>{{ user.user.username }}</td>
                              <td>{{ user.realname }}</td>
                              <td>{{ user.school.school_name }}</td>
                              <td>{{ user.student_num }}</td>
                              <td>{{ user.phone_num }}</td>
                              <td>{{ moment(user.register_time).format('LLL') }}</td>
                              <td>{% if user.user_confirmed is sameas true%}Confirmed{% else %}Unconfirmed{% endif %}</td>
                              <td><a href="{{ url_for('contest.contest_user_checked', contest_id=contest_id, user_id=user.user_id, flag=1) }}">click to confirm</a></td>
                              <td><a href="{{ url_for('contest.contest_user_checked', contest_id=contest_id, user_id=user.user_id, flag=0) }}">click to cancel</a></td>
                           </tr>
                           {% endfor %}
                         </tbody>
                    </table>
                    {% if pagination %}
                        {{ macros.pagination_widget(pagination, 'contest.contest_list') }}
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/accessory.js') }}"></script>
{% endblock %}