{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Contest-{{ contest.contest_name }}{% endblock %}
{% block body_attribs %}onload="set_globle({{ sec_now|int }}, {{ sec_init|int }}, {{ sec_end|int }})"{% endblock body_attribs %}
{% block page_content %}
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Contest
                    <small>{{ contest.contest_name }}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index.index_page') }}">Home</a>
                    </li>
                    <li class="active">Contest</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" id="contest_bar" style="min-width: 4em; width: 0%"></div>
                </div>
            	<div class="col-lg-2">
                    <div class="list-group">
                        <a href="{{ url_for('contest.contest_detail', contest_id=contest.id) }}" class="list-group-item">Overview</a>
                         <a href="{{ url_for('contest.contest_problem_list', contest_id=contest_id) }}" class="list-group-item">Problem List</a>
                        <a href="{{ url_for('contest.contest_status_list', contest_id=contest_id) }}" class="list-group-item">Submission List</a>
                        <a href="{{ url_for('contest.contest_ranklist', contest_id=contest_id) }}" class="list-group-item">Ranklist</a>
                        {% if contest.manager_username == current_user.username or current_user.is_admin()  %}
                        <a href="{{ url_for('contest.contest_user_check', contest_id=contest_id) }}" class="list-group-item">Confirm</a>
                        <a href="{{ url_for('contest.contest_ranklist_admin', contest_id=contest_id) }}" class="list-group-item">Ranklist(Admin)</a>
                        {% if not contest.type %}
                        <a href="{{ url_for('contest.contest_show_balloon', contest_id=contest_id) }}" class="list-group-item">Send Balloon</a>
                        {% endif %}
                        {% endif %}
                    </div>
            	</div>
                {% if not contest.type %}
                <h2>Submit Code</h2>
                <div class="col-lg-10">
                    <table class="table table-bordered" cellspacing="0" width="100%" style="font-size:10px;">
                        <thead>
                            <tr>
                                <th>Run ID</th>
                                <th>Problem ID</th>
                                <th>Submit Time</th>
                                <th>Judge Status</th>
                                <th>Time Used</th>
                                <th>Memory Used</th>
                                <th>Language</th>
                                <th>User</th>
                                {% if current_user.is_admin() or current_user.username == contest.manager_username%}
                                <th>Submit IP</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ status.id }}</th>
                                <th><a href="{{ url_for('contest.contest_problem_detail', contest_id=contest_id, problem_index=status.contest.problems.filter_by(problem_id=status.problem_id).first().problem_index) }}">{{ status.contest.problems.filter_by(problem_id=status.problem_id).first().problem_index }}</a></th>
                                <th>{{ moment(status.submit_time).format('LLL') }}</th>
                                <th>{{ status_list[status.status] }}</th>
                                <th>{% if status.status != 0 and status.status != 10%}{{ status.exec_time }}ms{% else %}-{% endif %}</th>
                                <th>{% if status.status != 0 and status.status != 10%}{{ status.exec_memory }}k{% else %}-{% endif %}</th>
                                <th>{{ language[status.language] }}</th>
                                <td><a href="{{ url_for('auth.user_detail', username=status.author_username) }}">{{ status.author_username }}</a></td>
                                {% if current_user.is_admin() or current_user.username == contest.manager_username%}
                                <th>{{ status.submit_ip }}</th>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                {% if ce_info %}
                    <hr>
                        <div class="well">
                        <h3>Compile Info:</h3>
                        {{ ce_info.info|replace("\n", "<br>")|safe }}
                        </div>
                    {% endif %}
                    <hr>
                    <h2>Code</h2>
      <pre>
          <code>
{{ code }}
          </code>
      </pre>
                </div>
                {% else %}
                <h2>Submit</h2>
                <div class="col-lg-10">
                    <table class="table table-bordered" cellspacing="0" width="100%" style="font-size:10px;">
                        <thead>
                            <tr>
                                <th>Problem ID</th>
                                <th>Judge Status</th>
                                <th>Language</th>
                                <th>User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th><a href="{{ url_for('contest.contest_problem_detail', contest_id=contest_id, problem_index=problem_index) }}">{{ problem_index }}</a></th>
                                <th>Submitted</th>
                                <th>{{ language[status.language] }}</th>
                                <td><a href="{{ url_for('auth.user_detail', username=username) }}">{{ username }}</a></td>

                            </tr>
                        </tbody>
                    </table>
                    <hr>
                    <h2>Code</h2>
      <pre>
          <code>
{{ code }}
          </code>
      </pre>
                {% if current_user.id == status.user_id %}
                <a class="btn btn-default btn-block btn btn-primary" href="{{ url_for('contest.contest_submit',contest_id=contest.id, problem_index=problem_index) }}" role="button">Resubmit</a>
                {% endif %}
                </div>

                {% endif %}

            </div>
        </div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/accessory.js') }}"></script>
{% endblock %}