{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% block title %}Code{% endblock %}
{% block styles %}
    {{ super() }}
    <link href="{{ url_for('static', filename='css/hightlight-default.css') }}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">VIEW
                    <small>Code - {{ status.id }}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index.index_page') }}">Home</a>
                    </li>
                    <li class="active">Code</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
            	<div class="col-lg-2">
            	</div>
                <div class="col-lg-8">
                    <table class="table table-bordered" cellspacing="0" width="100%" style="font-size:10px;">
                        <thead>
                            <tr>
                                <th>Run ID</th>
                                <th>Problem ID</th>
                                <th>Submit Time</th>
                                <th>Judge Status</th>
                                <th>Time Used</th>
                                <th>Memory Used</th>
                                <th>Language</th>
                                <th>User</th>
                                {% if current_user.is_admin() %}
                                <th>Submit IP</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>{{ status.id }}</th>
                                <th><a href="{{ url_for('problem.problem_detail', problem_id=status.problem_id) }}">{{ status.problem_id }}</a></th>
                                <th>{{ moment(status.submit_time).format('LLL') }}</th>
                                {% if status.problem.type is not sameas true %}
                                <td class="status">{{ status_list[status.status|int|string] }}</td>
                                {% else %}
                                    {% if status.status < 0 %}
                                        <td class="status">{{ status_list[status.status|int|string] }}</td>
                                    {% else %}
                                        <td class="status">{{ status.status }}</td>
                                    {% endif %}
                                {% endif %}
                                <th>{% if status.status != 0 and status.status != 10%}{{ status.exec_time }}ms{% else %}-{% endif %}</th>
                                <th>{% if status.status != 0 and status.status != 10%}{{ status.exec_memory }}k{% else %}-{% endif %}</th>
                                <th>{{ language[status.language] }}</th>
                                <td><a href="{{ url_for('auth.user_detail', username=status.author_username) }}">{{ status.author_username }}</a></td>
                                {% if current_user.is_admin() %}
                                <td>{{ status.submit_ip }}</td>
                                {% endif %}
                            </tr>
                        </tbody>
                    </table>
                    {% if status.problem.type is sameas true %}
                    <table class="table table-bordered" cellspacing="0" width="100%" style="font-size:10px;">
                        <thead>
                            <tr>
                                <th>Score Points</th>
                                <th>Judge Status</th>
                                <th>Time Used</th>
                                <th>Memory Used</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in status_sub %}
                            <tr>
                                <th>{{ loop.index }}</th>
                                <th>{{ status_list[item[0]] }}</th>
                                <th>{{ item[1] }}ms</th>
                                <th>{{ item[2] }}k</th>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                    {% if ce_info %}
                    <hr>
                        <div class="well">
                        <h3>Compile Info:</h3>
                        {{ ce_info.info|replace("\n", "<br>")|safe }}
                        </div>
                    {% endif %}
                    <hr>
                    <h2>Code</h2>
      <pre>
          <code>
{{ code }}
          </code>
      </pre>

                </div>
            </div>
        </div>
{% endblock %}
{% block scripts %}
{{ super() }}

<script src="{{ url_for('static', filename='js/highlight.pack.js') }}"></script>
<script >hljs.initHighlightingOnLoad();</script>

{% endblock %}