{% extends "teacher/base.html" %}

{% block content %}
       <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> 本校总用户 </span>
              <div class="count">{{ user_num }}</div>
              <span class="count_bottom"><i class="red">{{ unconfirmed_user }} </i> 名未确认用户</span>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-clock-o"></i> 全站在线用户</span>
              <div class="count">{{ online_user_num }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> 本校题目数量</span>
              <div class="count">{{ problem_num }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> 全站提交数量</span>
              <div class="count">{{ submission_num }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> 本校比赛数量</span>
              <div class="count">{{ contest_num }}</div>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> 全站标签数</span>
              <div class="count">{{ tag_num }}</div>
            </div>
          </div>
        </div>
{% endblock %}
