{% extends "teacher/base.html" %}
{% block content %}
       <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">VIEW
                    <small>User Detail</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index.index_page') }}">Home</a>
                    </li>
                    <li class="active">Teacher</li>
                    <li class="active">User Detail</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
            	<div class="col-lg-2">
            	</div>
                <div class="col-lg-8">
                    <div class="col-md-4">
                        <img src="{{ '/static/photo/'+user.photo+'.png' }}" alt="" class="img-circle img-responsive img-thumbnail">
                    </div>
                    <div class="col-md-8">
                        <h2>{{ user.nickname }} Profile</h2>
                        <table class="table table-hover">
                            <tr>
                                <th>Description:</th>
                                <td>{{ user.about_me }}</td>
                            </tr>
                            <tr>
                                <th >Gender:</th>
                                <td >{{ user.gender }}</td>
                            </tr>
                            <tr>
                                <th>Major:</th>
                                <td>{{ user.major }}</td>
                            </tr>
                            <tr>
                                <th>Degree:</th>
                                <td>{{ user.degree }}</td>
                            </tr>
                            <tr>
                                <th>Country:</th>
                                <td>{{ user.country }}</td>
                            </tr>
                            <tr>
                                <th>School:</th>
                                <td>{{ user.school.school_name }}</td>
                            </tr>
                            <tr>
                                <th>Number:</th>
                                <td>{{ user.student_num }}</td>
                            </tr>
                            <tr>
                                <th>Regist Time:</th>
                                <td>{{ moment(user.member_since).format('LLL') }}</td>
                            </tr>
                            <tr>
                                <th>Submissions:</th>
                                <td>{{ total_submission }}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th>Address:</th>
                                <td>{{ user.address }}</td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>{{ user.phone_num }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
