{% extends "admin/base.html" %}
{% import "_macros.html" as macros %}
{% block content %}
       <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">VIEW
                    <small>Blog List</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index.index_page') }}">Home</a>
                    </li>
                    <li class="active">Admin</li>
                    <li class="active">Blog List</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
            	<div class="col-lg-1">
            	</div>
                <div class="col-lg-10">
                    {% if pagination %}
                        {{ macros.pagination_widget(pagination, 'admin.blog_list') }}
                    {% endif %}
                    <table class="table table-striped table-hover">
					    <thead>
                            <tr>
                              <th>Blog ID</th>
                              <th>Title</th>
                              <th>Author</th>
                              <th>Time</th>
                              <th>Visibility</th>
                              <th>Options</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for blog in blogs %}
                            <tr>
                              <td>{{ blog.id }}</td>
                              <td><a href="{{ url_for('admin.blog_detail', blog_id=blog.id) }}">{{ blog.title }}</a></td>
                              <td><a href="{{ url_for('admin.user_detail', username=blog.author_username) }}">{{ blog.author_username }}</a></td>
                              <td>{{ moment(blog.last_update).format('LLL') }}</td>
                              <td>{{ blog.public }}</td>
                              <td><a href="{{ url_for('admin.blog_edit', blog_id=blog.id) }}"><button class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> 编辑</button></a></td>
                          </tr>
                          {% endfor %}
                         </tbody>
					</table>
                    {% if pagination %}
                        {{ macros.pagination_widget(pagination, 'admin.blog_list') }}
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
{% endblock %}
