{% extends "admin/base.html" %}
{% block content %}
       <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{ problem.title }}
                    <small>{{ problem.school.school_name }}-{{ problem.id }}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index.index_page') }}">Home</a>
                    </li>
                    <li class="active">Admin</li>
                    <li class="active">Problem</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-12">
            	<div class="col-lg-2">
            	</div>
                <div class="col-lg-8">
                    <table class="table table-bordered" cellspacing="0" width="100%" style="font-size:10px;">
                        <thead>
                            <tr>
                                <th>时间限制</th>
                                <th>内存限制</th>
                                <th>总提交数</th>
                                <th>AC数</th>
                                <th>Special Judge</th>
                                <th>学校名称</th>
                                <th>最近更新时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ problem.time_limit }}s</td>
                                <td>{{ problem.memory_limit }}m</td>
                                <td>{{ problem.submission_num }}</td>
                                <td>{{ problem.accept_num }}</td>
                                {% if problem.special_judge is sameas true %}
                                <td>是</td>
                                {% else %}
                                <td>否</td>
                                {% endif %}
                                <td>{{ problem.school.school_name }}</td>
                                <td>{{ moment(problem.last_update).fromNow(refresh=True) }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <h2>Description</h2>
                        <p style="white-space: pre-wrap;">{{ problem.description|safe }}</p>
                    <hr/>
                    <h2>Input</h2>
                        <p style="white-space: pre-wrap;">{{ problem.input|escape }}</p>
                    <hr/>
                    <h2>Output</h2>
                        <p style="white-space: pre-wrap;">{{ problem.output|escape }}</p>
                    <hr/>
                    <h2>Sample Input</h2>
                    <div class="well">
                        <p style="white-space: pre-wrap;">{{ problem.sample_input|escape }}</p>
                    </div>
                    <hr/>
                    <h2>Sample Output</h2>
                    <div class="well">
                        <p style="white-space: pre-wrap;">{{ problem.sample_output|escape }}</p>
                    </div>
                    <hr/>
                    <h2>Hint</h2>
                        <p style="white-space: pre-wrap;">{{ problem.hint|escape }}</p>
                    <hr/>
                    <h2>Source</h2>
                        <p style="white-space: pre-wrap;">{{ problem.source_name|escape }}</p>
                    <hr/>
                    <h2>Author</h2>
                        <p style="white-space: pre-wrap;">{{ problem.author|escape }}</p>
                </div>
            </div>
        </div>
        </div>
{% endblock %}
