{% extends "base.html" %}

{% block page_content %}
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Auth
                    <small>Unconfirmed</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li class="active">unconfirmed</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">

            <div class="col-lg-12">
                <div class="jumbotron">
                    <h1><span class="error-unconfirmed">User Unconfirmed</span>
                    </h1>
                    <p>Please contact your school administrator for further info.</p>
                </div>
            </div>

        </div>
{% endblock %}
