{% extends "base.html" %}

{% block page_content %}
        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">About
                    <small>{{ user.nickname }}</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="{{ url_for('index.index_page') }}">Home</a>
                    </li>
                    <li class="active">About</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-4">
                <img src="{{ '/static/photo/'+user.photo+'.png' }}" alt="" class="img-circle img-responsive img-thumbnail">
            </div>
            <div class="col-md-8">
                <h2>{{ user.nickname }} Profile</h2>
                <table class="table table-hover">
                    <tr>
                        <th>Description:</th>
                        <td>{{ user.about_me }}</td>
                    </tr>
                    {% if (not user.info_protection) or current_user.username == user.username or current_user.is_admin()  %}
                    <tr>
                        <th >Gender:</th>
                        <td >{{ user.gender }}</td>
                    </tr>
                    <tr>
                        <th >Realname:</th>
                        <td >{{ user.realname }}</td>
                    </tr>
                    <tr>
                        <th>Major:</th>
                        <td>{{ user.major }}</td>
                    </tr>
                    <tr>
                        <th>Degree:</th>
                        <td>{{ user.degree }}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td>{{ user.country }}</td>
                    </tr>
                    <tr>
                        <th>Scholl:</th>
                        <td>{{ user.school.school_name }}</td>
                    </tr>
                    <tr>
                        <th>Number:</th>
                        <td>{{ user.student_num }}</td>
                    </tr>
                    <tr>
                        <th>Regist Time:</th>
                        <td>{{ moment(user.member_since).format('LLL') }}</td>
                    </tr>
                    <tr>
                        <th>Submissions:</th>
                        <td>{{ total_submission }}</td>
                    </tr>
                    {% else %}
                    <tr>
                        <th class="danger"></th>
                        <td class="danger">Profile is unvisible due to private setting.</td>
                    </tr>
                    {% endif %}
                    {% if current_user.username == user.username or current_user.is_admin()  %}
                    <tr>
                        <th>Email:</th>
                        <td>{{ user.email }}</td>
                    </tr>
                    <tr>
                        <th>Address:</th>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <th>Phone:</th>
                        <td>{{ user.phone_num }}</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div>
        {% if user.username!=current_user.username  %}
        {% if not current_user.is_following(user) %}
        <a class="btn btn-default btn-block" href="{{ url_for('auth.follow', username=user.username) }}" role="button">Follow</a>
        {% else %}
        <a class="btn btn-default btn-block" href="{{ url_for('auth.unfollow', username=user.username) }}" role="button">Unfollow</a>
        {% endif %}
        {% endif %}
        </div>
{% endblock %}
